/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
HEADER STYLES
*********************/

.header-logo {
  display: block;
  text-indent: -9999px;
  background:url('../images/logo.png') no-repeat;
  margin: 0 auto;
  width: 87px;
  height: 82px;
}

.primary-nav-list {
  margin:0;
  padding:0;
}

.primary-nav-list li {
  display:inline-block;
  width:130px;
  height:90px;
  text-align:center;
}

.primary-nav-list.pull-right li {
 
}

.primary-nav-list.pull-left li {

}

.primary-nav-list a {
  font-weight: 600;
  color:$gray;
  text-decoration: none;
  line-height:90px;
  font-size:0.875em;
  
  &:hover {
    color:$black;
    @include transition(all 0.2s ease-in-out);
  }
}

.header-search-wrap input[type="text"].expanded {
  width:200px;
}

.user-nav.expanded {
  width:270px;
}

.header-facebook-square,
.header-instagram {
  width:20px;
  height:27px;
  display:inline-block;
  text-align: right;
  @include transition(width 0.3s);
  text-decoration: none;
  position: relative;
  overflow:hidden;
  
  &:hover {
    width:100px;
  }
  
  .social-more-info {
    font-size:12px;
    line-height: 22px;
    text-transform:uppercase;
    font-weight: 600;
    position: absolute;
    top:5px;
    left:-100px;
    opacity:1;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width:100px;
    height:22px;
    text-align: left;
  }
  
  &:hover .social-more-info {
    opacity:1;
    -webkit-transition-delay: 0.1s;
  	transition-delay: 0.1s;
  	-webkit-transform: translateX(0);
  	transform: translateX(0);
  	left:0;
  }
  

}



/*********************
NAVIGATION STYLES
*********************/

.store-dropdown, .more-info-dropdown {
  position: absolute;
  z-index:5;
  height:auto;
  width:100%;
  background: rgba(255,255,255,0.95);
  @include transition(all 0.5s ease-in-out);
  overflow:hidden;
  padding-bottom:20px;
  transform: translateY(-100%);
  
}

.store-dropdown.expanded, .store-dropdown:hover,
.more-info-dropdown.expanded, .more-info-dropdown:hover  {
  border-bottom:1px solid $border-color;
  transform: translateY(0);
}

.store-dropdown {
  padding-top:20px;
  
  ul {
    margin-top:0;
  }
  
  li a {
    color: $custi-green;
    text-decoration: none;
    font-size:0.875em;
  }
  
  li a:hover {
    text-decoration: underline;
  } 
  
  .product_list_widget {
    
    li {
      display: block;
      width:100%;
      margin-bottom:10px;
      clear:both;
      
      a {
        margin-bottom:-5px;
        clear:right;
        display:block;
        line-height:1.1em;

        
      }
    }
    
    img {
      display:none;
    }

    .amount {
      text-transform: uppercase;
      color:$gray;
      font-size:0.8em; 
    }
  }
}

.promo-box {
  display: block;
  width:100%;
  height:180px;
  position: relative;
  
  color:$white;
  font-size:0.875em;
  
  &:hover {
    color:$white;
  }
  
  &.create-your-own {
    background: url(http://img2.timeinc.net/health/img/mag/2013/04/yogurt-breakfast-bowl-400x400.jpg);
  }
  
  &.create-your-own span {
    background: $custi-green;
    background: rgba($custi-green, 0.9);
  }
  
  &.facebook-box {
    background: url(http://www.insidefacebook.com/wp-content/uploads/2012/07/facebook_like_button_big.jpeg);
  }
  
  &.facebook-box span {
    background: $facebook;
    background: rgba($facebook, 0.9);
  }


  span {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:35px;
    text-align: center;
    line-height: 35px;
  }

}

.store-dropdown-item {
  text-decoration: none;
  text-align: center;

  
  &:hover .store-dropdown-thumb {
    @include transition(all 0.5s);
  }
  
  &:hover .store-dropdown-thumb img {
    @include transition(all 0.5s);
    -webkit-transform: translate3d(0,0, 0);
    transform: translate3d(0,0,0);
  }
  
  
}

.store-dropdown-thumb {
  display:block;
  width:100%;
  height:100px;
  background:$custi-green;
  margin-top:20px;
  overflow: hidden;
}

.store-dropdown-thumb img {
  -webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
@include transition(all 0.5s);
}

.store-dropdown-item h5 {
  margin:7px 0 0 0;
  font-size:0.875em;
  text-transform: none;
  letter-spacing: normal;
  line-height:1em;
  color:$black;
}

.store-dropdown-item p {
  color:$gray;
  font-size:0.750em;
  margin:0;
}

.more-info-heading,
.store-dropdown .widgettitle,
.more-info-dropdown .widgettitle
 {
  font-size:0.95em;
  margin:0 0 5px;
  font-weight:600;
  letter-spacing: normal;
  text-transform: none;
}



.more-info-menu,
.store-dropodown,
.more-info-dropdown {
  padding-top:20px;
  
  ul {
    margin-top:0;
  }
  
  li {

  }
  
  li a {
    color:$custi-green;
    text-decoration: none;
    font-size:0.875em;
  }
  
  li a:hover {
    text-decoration: underline;
  } 
}

.shop-sidebar-wrapper.fixed {
  position: fixed;
  top:0;
  z-index:999;
}


.mobile-nav-wrap {
    display:none;
}

.shop-sidebar {
  text-align: left;
  
  .product-categories-nav {
    margin-left:10px;
    
    li {
      margin-bottom:0px;
    }
    
    a {
      display: inline;
      border-bottom:0;
      font-size:0.875em;
      padding-left:0;
     
    }

  }

}

.breadcrumbs {
  border-bottom: 1px solid $border-color;
  padding:12px 0;
  font-size:0.875em;
  display: block;
  
  a {
    font-weight: 600;
    text-decoration: none;
    color: $black;
  }
  
  a:hover {
    text-decoration: underline;
    color: $black;
  }
}



.ajax-layered {
  ul {
    margin-left:10px;
   li {  
    margin-bottom:0;
    
    &.filter-selected {
      a {
        padding:3px 5px;
      }
    }
    
    
    
    a {
      display: inline;
      border-bottom:0;
      font-size:0.875em;
      border-radius:3px;  
    }
  }
    
  }
}

.products {
  li {
    min-height:510px;
    margin-bottom:0;
         }
  
  .product-wrap {
    overflow: hidden;
  }
  
  li .product-wrap img {
    @include transition(all 0.2s ease-in-out);

  }
  
  li:hover .product-wrap img {
    transform: scale(1.05);

  }
}

.shop-container {

  .woocommerce-result-count {
    margin: 0 0 20px;
  }
  
  .woocommerce-ordering {
    position: absolute;
    top:40px;
    right:15px;
  }
}




.nav {
	border: 0;
	ul {
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.textwidget {
  .fa-ul {
    margin-left:1.55em;
    font-size:0.875em;

    
    a {
      font-size:1em;
    }
    
    li {
      margin-bottom:5px;
    }
  }
  
  .fa-li {
    top:0.3em;
  }
}

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {

	}

	.widget {
    
   
		

		ul {
			li {
			

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/


.footer-logo {
  margin:0 auto 30px;
}

.mountains {
  display:block;
  width:100%;
  height:170px;
  background-image: url('../images/footer.png');
  background-repeat:no-repeat;
  background-position: center top;
}

.footer-nav li {
  border:0;
  
  &:first-child {
    border:0;
  }
}


.footer-nav li a {
  margin:0 10px;
  
  &:hover {
   text-decoration: underline; 
  }
}

.footer-nav {
  margin-top:15px;
}

.footer-facebook-square .fa,
.footer-instagram .fa {
  margin-top:25px;
}

.footer-facebook-square .fa {
  margin-right:5px;
}

.footer-social {
  text-align: right;
  padding:0;
}

