/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.primary-nav-list li {
  width:140px;
}

.products {
  li {
    min-height:570px;
  }
}